.custom-input-block {

}

.custom-input-block__input {
  box-shadow: inset 0 4px 5px rgba(#e6e6e6, 0.75);
  width: 100%;
}


.custom-input-block__label {
  display: block;
  padding-bottom: 10px;
}

.main-content__car-info
.custom-input-block__label {
  padding-bottom: 10px;
}

.main-content__car-info
.custom-input-block__input {
  width: 100%;
}
