// colors

$main-bg-color: #fff;
$base-font-color: #000;
$white: #fff;

$gray: #777777;

$accent-color: #0083CA;
$second-accent-color: #52d9b2;// #3BEB7C;// #52d9b2;// #E73ADF; // #DCF900;


$tablet-width: 660px;
$desktop-width: 960px;


$tablet-widths: "min-width: 701px";
$desktop-widths: "min-width: 1050px";
