<!DOCTYPE html>
<html ng-app="jsonApp">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="Polina Katysheva">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<title>JSON Parser</title>
	<script>
		var jsonApp = angular.module('jsonApp', []);
		jsonApp.controller('MainCtrl', function ($scope, $http){
			$http.get('freelancers.json').success(function(data) {
				$scope.freelancers = data;
			});
		});
	</script>
</head>
<body ng-controller="MainCtrl">
	<h2>Пример извлечения данных JSON в Angular.js</h2 >
		<h1 id="title">{{freelancers.title}}</h1>
		<h2 id="description">{{freelancers.description}}</h2>
		<div id="freelansersList" class="freelancer" ng-repeat="freelancer in freelancers">
			<div class="freelancer__name">{{freelancer.name}}</div>
			<div class="freelancer__function">{{freelancer.function}}</div>
			<div class="freelancer__age">{{freelancer.age}}</div>
			<div class="freelancer__status">{{freelancer.status}}</div>
		</div>

		<table class="table table-striped">
			<tr>
				<th>Код</th>
				<th>Страна</th>
				<th>Население</th>
			</tr>
			<tr ng-repeat="country in countries | orderBy: 'code' ">
				<td>{{country.code}}</td>
				<td>{{country.name}}</td>
				<td>{{country.population}}</td>
			</tr>
		</table>
	</body>
	</html>