@font-face {
  font-family: "Clio Light";
  src:
    local("Clio Light"),
    url('../fonts/LeType - ClioLight-Light.WOFF') format("woff");
}

@font-face {
  font-family: "Clio Medium";
  src:
    local("Clio Medium"),
    url('../fonts/LeType - ClioMedium-Medium.WOFF') format("woff");
}

@font-face {
  font-family: "Clio SebiBold";
  src:
    local("Clio SebiBold"),
    url('../fonts/LeType - ClioSemiBold-SemiBold.WOFF') format("woff");
}

// $opensans: "Open Sans", "Arial", sans-serif;
// $opensans-bold: "Open Sans Bold", "Arial", sans-serif;

$clio-light: "Clio Light", "Arial", sans-serif;
$clio-medium: "Clio Medium", "Arial", sans-serif;
$clio-sebiBold: "Clio SebiBold", "Arial", sans-serif;