@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

.field-validation-error {
  color: #D83636 !important; }

.field-validation-valid {
  display: none !important; }

.input-validation-error {
  border: 1px solid #f00 !important; }

.validation-summary-errors {
  color: #D83636 !important; }

.validation-summary-valid {
  display: none !important; }

@font-face {
  font-family: HelveticaNeue;
  /* Имя шрифта */
  src: url(../fonts/HelveticaNeueCyr-Light.otf);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: HelveticaNeueCyr;
  /* Имя шрифта */
  src: url(../fonts/HelveticaNeueCyr-Medium.otf);
  /* Путь к файлу со шрифтом */ }

@font-face {
  font-family: HelveticaNeueCyrBold;
  /* Имя шрифта */
  src: url(../fonts/HelveticaNeueCyr-Bold.otf);
  /* Путь к файлу со шрифтом */ }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #654242;
  font-family: "HelveticaNeue";
  font-size: 12px;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: gothamProBold; }

h1 {
  font-size: 54px;
  margin-bottom: 12px;
  font-weight: 500; }
  @media screen and (max-width: 919px) {
    h1 {
      font-size: 35px; } }
  @media screen and (min-width: 920px) and (max-width: 1365px) {
    h1 {
      font-size: 35px; } }

h2 {
  font-size: 35px; }

h3 {
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  margin-bottom: 0; }

h4 {
  font-size: 25px;
  font-weight: normal; }

a {
  text-decoration: none; }
  a, a:active, a:focus, a:hover {
    text-decoration: none; }

b, strong {
  font-weight: bold; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table tr th {
  color: #565656; }

table tr td {
  font-size: 14px; }

html, body {
  background: #fff;
  height: 100%;
  min-height: 100%; }

button:focus {
  outline: none; }

.hidcont, .collapsed {
  display: none; }

.dn {
  display: none; }

.text--left {
  text-align: left; }

.text--bold {
  font-family: 'HelveticaNeueCyrBold'; }

.text--top {
  vertical-align: top; }

.text--19 {
  font-size: 19px; }

table.dataTable thead th {
  padding: 5px;
  border-bottom: 1px solid #cecece; }

table.dataTable.no-footer {
  border-bottom: 0; }

.progress-table > tbody > tr > td {
  text-align: center;
  border-left: 1px solid #cecece;
  border-bottom: 1px solid #cecece; }
  .progress-table > tbody > tr > td:last-child {
    border-right: 1px solid #cecece; }
  .progress-table > tbody > tr > td:first-child {
    text-align: left; }

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 0; }

.questioner-header {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  padding: 20px 15px; }

.questioner {
  align-items: flex-start; }
  .questioner__type {
    color: #b8b7b7;
    padding-bottom: 10px;
    font-family: 'HelveticaNeueCyrBold'; }
  .questioner__title {
    color: #363636; }
  .questioner__show {
    color: #808384;
    text-decoration: underline;
    padding-top: 10px;
    font-size: 12px; }
    .questioner__show > svg {
      margin-bottom: -5px; }
    .questioner__show:focus {
      outline: none; }

.questioner-details__step {
  color: #a4a4a4;
  font-family: 'HelveticaNeueCyrBold';
  display: none; }

.questioner-details__description {
  color: #fff;
  display: none; }

.progress-table-header__item {
  background: #f0f0f0;
  border-left: 1px solid #cecece;
  border-bottom: 1px solid #cecece; }
  .progress-table-header__item:nth-child(1) {
    min-width: 95px; }
  .progress-table-header__item:nth-child(2) {
    width: 110px; }
  .progress-table-header__item:nth-child(3) {
    min-width: 62px; }
  .progress-table-header__item:nth-child(4) {
    min-width: 62px; }
  .progress-table-header__item:nth-child(5) {
    min-width: 62px; }
  .progress-table-header__item:nth-child(n+6) {
    min-width: 200px;
    vertical-align: top; }
  .progress-table-header__item:last-child {
    border-right: 1px solid #cecece; }

.hide-arrow, .questioner__hide {
  display: none; }

.show--default {
  display: inline; }

.opened-questioner {
  background: #bbbbbb; }
  .opened-questioner .questioner__title {
    color: #fff; }
  .opened-questioner .questioner__type {
    color: #a4a4a4; }
  .opened-questioner .show-arrow, .opened-questioner .show--default {
    display: none; }
  .opened-questioner .questioner-details__step,
  .opened-questioner .questioner-details__description {
    display: block; }
  .opened-questioner .hide-arrow {
    display: inline; }
  .opened-questioner .questioner__hide {
    display: inline; }
  .opened-questioner .questioner__show {
    color: #787a7a; }

.collapsed {
  background: #c8c8c8; }

.not-collapsed {
  background: #dadada; }

.show-hide-command {
  color: #4780b0;
  font-size: 12px;
  text-decoration: underline; }

.result-item {
  color: #654242; }
  .result-item__date {
    color: #a69b75; }
  .result-item__time {
    margin-left: 15px; }
  .result-item__note {
    color: #bc9453; }
  .result-item__rating {
    color: #357634;
    text-decoration: underline; }

table.dataTable {
  width: auto; }

.without-examination {
  background: #fffecc; }

.with-result {
  background: #fbf7be; }

.need-examination {
  background: #fbedbe; }

.checked {
  background: #cdf1cc; }
  .checked .result-item__date {
    color: #8dbc8c; }

.not-done {
  background: #f4f3f3; }

.light-blue {
  background: #4cc1e3;
  color: #fff; }

.darken-then-light-blue {
  background: #48b4d4;
  color: #fff; }

.modal_div {
  width: 700px;
  background: #fff;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -350px;
  display: none;
  opacity: 0;
  z-index: 5;
  padding: 50px; }

#overlay {
  z-index: 3;
  position: fixed;
  background-color: #000;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=50);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

.results-window {
  display: flex;
  font-size: 15px; }
  .results-window__user {
    flex-basis: 50%; }
  .results-window__details {
    padding-left: 10px; }
  .results-window__rating {
    flex-basis: 45%;
    color: #a9a9a9;
    position: relative; }

.details__name {
  font-weight: bold;
  color: #000; }

.details__date {
  color: #a9a9a9;
  padding-bottom: 10px; }

.details__about-quest {
  color: #959595; }
  .details__about-quest > span {
    color: #000; }

.details__text {
  padding: 15px 0;
  color: #2a2a2a; }
  .details__text > span {
    display: block;
    padding-bottom: 5px;
    color: #000; }

.details__include {
  color: #678dd3;
  text-decoration: underline;
  display: inline-block;
  margin-left: 20px; }
  .details__include > svg {
    margin-bottom: -3px; }

.details__buttons {
  display: flex; }

.details__save-btn {
  display: flex;
  background: #7dc987;
  color: #fff;
  padding: 10px 30px;
  border-radius: 20px; }
  .details__save-btn svg {
    margin-right: 10px;
    margin-bottom: -3px; }

.details__close-btn {
  color: #e25c62;
  background: #fff;
  padding-left: 20px; }
  .details__close-btn > svg {
    margin-bottom: -5px; }

.rating__number {
  color: #999;
  width: 40px;
  font-size: 30px;
  text-align: center;
  border: 0; }

.rating__minus {
  width: 25px;
  height: 19px;
  align-self: flex-end;
  margin-left: -25px; }

.rating__plus {
  width: 25px; }

#numericcontrol {
  display: flex; }
