@font-face {
 font-family: 'CompPro-Regular';
 src: /*url('/fonts/PdfInTextCompro-Regular.woff2') format('woff2'),*/
        url('../fonts/PdfInTextCompro-Regular.woff') format('woff');
}

@font-face {
 font-family: 'CompPro-Medium';
 src: /*url('/fonts/PdfInTextCompro-Regular.woff2') format('woff2'),*/
        url('../fonts/PdfInTextCompro-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto-Condensed';

  src: url('../fonts/ROBOTO-CONDENSED.woff') format('woff'),
       url('../fonts/ROBOTO-CONDENSED.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'CompPro-Regular', Arial, serif;
  font-size: 100%;
  color: #fff;
  background: black;

  min-height: 100vh;
}
   
.bg-wrapper {
  background: #660000; /* Для браузеров, которые не поддерживают градиенты */
  background: -webkit-radial-gradient(#660000, black); /* Для Opera 11.1 - 12.0 */
  background: -o-radial-gradient(#660000, black); /* Для Opera 11.1 - 12.0 */
  background: -moz-radial-gradient(#660000, black); /* Для Firefox 3.6 - 15 */
  background: radial-gradient(#660000, black); /* Стандартный синтаксис */

  min-height: 100vh;
  width: 100%;
}   

.header {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 70px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header__phones {
  transform: skew(-8deg) rotate(-8deg);
  font-style: italic;
}

.phone {
  display: block;

  font-family: 'CompPro-Medium', Arial, serif;
  color: #fff;
  font-size: 50px;
  text-decoration: none;

  position: relative;
}

.phone:hover,
.phone:focus {
  opacity: .7;
}
.lang-btn:hover,
.lang-btn:focus {
  text-decoration: underline;
}

.phone--whatsapp:after {
  content: '';
  display: block;

  position: absolute;
  top: 0;
  right: -70px;
  height: 60px;
  width: 50px;

  background-image: url('../img/whatsapp-logo.png');
  background-repeat: no-repeat;

  transform: skew(8deg) rotate(8deg);
}

.header__langs {
  transform: skew(-8deg) rotate(-8deg);
}

.lang-btn {
  background-color: transparent;
  border: 0;


  font-family: 'CompPro-Regular', Arial, serif;
  font-size: 40px;
  color: #fff;
  font-style: italic;
}

.lang-btn.active {
  text-decoration: underline;
}

.logo__img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
}

.work-list {
  background-image: url("../img/ramka.svg");
  background-repeat: no-repeat;
  background-size: 857px 566px;
  background-position: 50% -115px;
}

.work-list__menu {
  width: 576px;
  margin: 0 auto;
  padding: 80px 0;
  transform: skew(-8deg) rotate(-7.5deg);
  list-style: none;

  display: flex;
  flex-wrap: wrap;

  position: relative;
}
.work-list__item {
  display: block;
}
.work-list__item.hidden {
  display: none;
}

.work-list__link {
  color: #ffffff;
  font-size: 38px;
  font-weight: 500;
  line-height: 42px;
  font-style: italic;
  text-decoration: none;
  text-transform: uppercase;

  border: 0;
  background: none;
  text-align: left;

  position: relative;
  z-index: 99;
  padding-right: 5px;

  outline: none;
}

.work-list__link:hover,
.work-list__link:focus {
  text-decoration: underline;
}

.work-list__img {
  max-width: 520px;
  width: 100%;
  height: auto;
  position: absolute;
  transform: skew(8deg) rotate(7.5deg);

  /*display: none;*/
  visibility: hidden;
  opacity: 0;
  bottom: -70px;
  right: -100px;

  transition: all ease-in .5s;
}


.work-list__link:hover ~ .work-list__img {
  visibility: visible;
  opacity: 1;

}

/* Footer */

.footer {
  padding-top: 30px;
}

.footer__social {
  display: flex;
  justify-content: center;

  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links__link {
  display: block;
  padding: 5px;
}

.footer__bottom-wrapper {
  text-align: center;
  padding-bottom: 65px;
  font-family: 'Roboto-Condensed', Arial, sans-serif;
}

.footer__link {
  color: #ffffff;
  font-size: 24px;
  line-height: 43px;
  text-decoration: none;

  position: relative;
}

.footer__link:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  transition: width ease .2s;

  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
}

.footer__link:hover:after,
.footer__link:focus:after {
  width: 0;
}

.footer__copyright {
  color: rgba(255,255,255,.2);
  font-size: 15px;
  margin: 0;
  padding: 5px 0;
}

@media screen and (max-width: 1920px) {
  .header {
    padding-top: 50px;
    max-width: 800px;
  }
  .phone {
    font-size: 40px;
  }

  .lang-btn {
    font-size: 36px;
  }

  .logo__img {
    max-width: 600px;
  }

  .work-list {
    background-size: 720px 566px;
    background-position: 50% -155px;
  }

  .work-list__menu {
    max-width: 480px;
    width: 100%;
    padding: 55px 0;
  }

  .work-list__link {
    font-size: 32px;
    line-height: 36px;
  }
}

@media screen and (max-width: 1440px) {
  .header {
    padding-top: 30px;
    max-width: 700px;
  }

  .phone {
    font-size: 30px;
  }

  .phone--whatsapp:after {
    transform: scale(.8) skew(8deg) rotate(8deg);
    top: -10px;
    right: -65px;
  }

  .logo__img {
    max-width: 450px;
  }

  .work-list {
    background-size: 620px 566px;
    background-position: 45% -175px;
  }

  .work-list__img {
    max-width: 300px;

    left: auto;
    top: auto;
  }

  .work-list__menu {
    padding: 38px 0 50px;
  }

  .work-list__link {
    font-size: 28px;
    line-height: 32px;
  }
}

@media screen and (max-width: 900px) {
  .header {
    max-width: 500px;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding: 30px 30px 0;
  }
  .header__langs {
    width: 100%;
    padding-bottom: 40px;
  }

  .header__phones {
    /*width: 100%;*/
  }

  .phone--whatsapp:after {
    transform: scale(.6) skew(8deg) rotate(8deg);
    top: -10px;
    right: -55px;
  }

  .logo {
    padding: 0 30px;
  }
  .logo__img {
    /*max-width: 300px;*/
  }
  .work-list {
    background: none;
    overflow: hidden;
  }

  .work-list__menu {
    display: block;
    padding: 0 30px 30px;
  }

  .work-list__link {
    display: block;
  }

  .work-list__img {
    left: 0;
    top: auto;
    right: auto;
    bottom: auto;

    transition: none;
  }

  .work-list__link:hover ~ .work-list__img,
  .work-list__link:focus ~ .work-list__img {
    position: relative;
    /*height: 0;*/
  }
}