@font-face {
  font-family: 'CompPro-Regular';
  src: url('../fonts/PdfInTextCompro-Regular.woff2') format('woff2'),
  url('../fonts/PdfInTextCompro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'CompPro-Medium';
  src: url('../fonts/PdfInTextCompro-Medium.woff2') format('woff2'),
  url('../fonts/PdfInTextCompro-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto-Condensed';

  src: url('../fonts/ROBOTO-CONDENSED.woff') format('woff'),
  url('../fonts/ROBOTO-CONDENSED.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'CompPro-Regular', Arial, serif;
  font-size: 100%;
  color: #fff;
  background: black;

  min-height: 100vh;
  min-width: 320px;
}

.bg-wrapper {
  background: #660000; /* Для браузеров, которые не поддерживают градиенты */ /* Для Opera 11.1 - 12.0 */
  background: -o-radial-gradient(#660000, black); /* Для Opera 11.1 - 12.0 */ /* Для Firefox 3.6 - 15 */
  background: radial-gradient(#660000, black); /* Стандартный синтаксис */

  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.header {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  padding-right: 42px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  align-items: center;

  transform: skew(-20deg) rotate(-8deg);
}

.header__phones {
  /*-webkit-transform: skew(-20deg) rotate(-8deg);*/
  /*-ms-transform: skew(-20deg) rotate(-8deg);*/
  /*transform: skew(-20deg) rotate(-8deg);*/
  font-style: italic;

}

.phone {
  display: block;

  font-family: 'CompPro-Medium', Arial, serif;
  color: #fff;
  font-size: 45px;
  text-decoration: none;

  position: relative;
  transform: skew(10deg);
}

.lang-btn:hover,
.lang-btn:focus {
  text-decoration: underline;
}

.phone--whatsapp:after {
  content: '';
  display: block;

  position: absolute;
  top: 0;
  right: -70px;
  height: 60px;
  width: 50px;

  background-image: url('../img/whatsapp-logo.png');
  background-repeat: no-repeat;

  -webkit-transform: skew(8deg) rotate(8deg);
  -ms-transform: skew(8deg) rotate(8deg);
  transform: skew(8deg) rotate(8deg);
}

.header__langs {
  /*-webkit-transform: skew(-8deg) rotate(-8deg);*/
  /*-ms-transform: skew(-8deg) rotate(-8deg);*/
  /*transform: skew(-8deg) rotate(-8deg);*/
  transform: skew(8deg);
  padding-top: 50px;
}

.lang-btn {
  background-color: transparent;
  border: 0;


  font-family: 'CompPro-Regular', Arial, serif;
  font-size: 36px;
  color: #fff;
  font-style: italic;
  padding: 0 3px;
}

.lang-btn.active {
  text-decoration: underline;
}

.logo__img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
}

.work-list {
  background-image: url("../img/ramka.svg");
  background-repeat: no-repeat;
  background-size: 857px 566px;
  background-position: 50% -115px;


  max-width: 730px;
  margin: -40px auto 0;
  padding-left: 20px;
}

.work-list__menu {
  width: 592px;
  margin: 0 auto;
  padding: 80px 0 80px 10px;
  -webkit-transform: skew(-15deg) rotate(-7.5deg);
  -ms-transform: skew(-15deg) rotate(-7.5deg);
  transform: skew(-15deg) rotate(-7.5deg);
  list-style: none;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  position: relative;
}

.work-list__item {
  display: block;
}

.work-list__item.hidden {
  display: none;
}

.work-list__link {
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
  font-style: italic;
  text-decoration: none;
  text-transform: uppercase;

  border: 0;
  background: none;
  text-align: left;

  position: relative;
  z-index: 99;
  padding-right: 5px;

  outline: none;
  transform: skew(8deg);
}

.work-list__link:hover,
.work-list__link:focus {
  text-decoration: underline;
}

.work-list__img {
  max-width: 520px;
  width: 100%;
  height: auto;
  position: absolute;

  -webkit-transform: skew(15deg) rotate(7.5deg);
  -ms-transform: skew(15deg) rotate(7.5deg);
  transform: skew(15deg) rotate(7.5deg);

  visibility: hidden;
  opacity: 0;
  bottom: -160px;
  right: -300px;

  -webkit-transition: all ease-in .5s;
  -o-transition: all ease-in .5s;
  transition: all ease-in .5s;
}

/* Footer */

.footer {
  padding-top: 50px;

  margin-top: auto;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links__link {
  display: block;
  padding: 5px;
}

.social-links__link:hover,
.social-links__link:focus {
  opacity: .7;
}

.footer__bottom-wrapper {
  text-align: center;
  padding-bottom: 45px;
  font-family: 'Roboto-Condensed', Arial, sans-serif;
}

.footer__link {
  color: #ffffff;
  font-size: 24px;
  line-height: 43px;
  text-decoration: none;

  position: relative;
}

.footer__copyright {
  color: rgba(255,255,255,.2);
  font-size: 15px;
  margin: 0;
  padding: 5px 0;
}

@media screen and (max-width: 1910px) {
  .header {
    padding-top: 50px;
    max-width: 600px;
  }
  .phone {
    font-size: 40px;
  }

  .lang-btn {
    font-size: 36px;
  }

  .logo__img {
    max-width: 600px;
  }

  .work-list {
    background-size: 720px 566px;
    background-position: 50% -155px;
  }

  .work-list__menu {
    max-width: 500px;
    width: 100%;
    padding: 55px 0;
  }

  .work-list__link {
    font-size: 32px;
    line-height: 36px;
  }
}

@media screen and (max-width: 1560px) {
  .header {
    padding-top: 30px;
    max-width: 600px;
  }

  .phone {
    font-size: 30px;
  }

  .phone--whatsapp:after {
    -webkit-transform: scale(.8) skew(8deg) rotate(8deg);
    -ms-transform: scale(.8) skew(8deg) rotate(8deg);
    transform: scale(.8) skew(8deg) rotate(8deg);

    top: -10px;
    right: -65px;
  }

  .logo__img {
    max-width: 570px;
  }

  .work-list {
    background-size: 620px 566px;
    background-position: 45% -175px;

    margin-top: 0;

    padding-left: 45px;
  }

  .work-list__img {
    max-width: 300px;

    bottom: -80px;
    right: -110px;
  }

  .work-list__menu {
    padding: 38px 0 50px;
  }

  .work-list__link {
    font-size: 28px;
    line-height: 32px;
  }
}

@media screen and (max-width: 900px) {
  .bg-wrapper {
    overflow-x: hidden;
  }

  .header {
    max-width: 500px;

    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: flex-start;

    padding: 30px 30px 0;
  }

  .header__langs {
    width: 100%;
    padding-bottom: 40px;
    padding-top: 0;
  }

  .header__phones {
    padding-left: 17px;
  }

  .phone--whatsapp:after {
    -webkit-transform: scale(.6) skew(8deg) rotate(8deg);
    -ms-transform: scale(.6) skew(8deg) rotate(8deg);
    transform: scale(.6) skew(8deg) rotate(8deg);

    top: -10px;
    right: -55px;
  }

  .logo {
    padding: 0 30px;
  }
  .logo__img {
    max-width: 460px;
  }

  .work-list {
    background: none;
    overflow: hidden;
  }

  .work-list__item.show-img .work-list__img {
    position: relative;
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .work-list__menu {
    display: block;
    padding: 0 30px 30px;
    transform: skew(-8deg) rotate(-7.5deg);
  }

  .work-list__item {

  }

  .work-list__link {
    display: block;
    transform: skew(-4deg);
  }

  .work-list__img {
    left: 0;
    top: auto;
    right: auto;
    bottom: auto;

    -webkit-transition: none;
    -o-transition: none;
    transition: none;

    display: none;
    transform: skew(8deg) rotate(7.5deg);
  }
}


@media screen and (min-width: 901px) {
  .work-list__link:hover ~ .work-list__img {
    visibility: visible;
    opacity: 1;
  }
}