.about-coeffs {
	background-color: #636363;
	color: #fff;
	background-image: url('../img/bg_calc.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 60px 0;
	h2 {
		margin: 30px 0;
		text-transform: none;
	}
}

.about-coeffs__wrapper {
	@include container-fluid();
}
.coeffs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.coeffs__item {
	flex-basis: 100%;
	padding: 0 10px;
}

@media ($desktop-widths) {
	.coeffs__item {
		flex-basis: 32%;
		padding: 0 10px;
	}
}