.footer {
	background-color: #26333f;
	color: #fff;
	padding: 60px;
	text-align: center;
}

.footer__content {
	@include container-fluid();
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	h3 {
		font-family: $clio-medium;
	}
}

.socials__list {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

.socials__item {
	&:hover, &:focus {
		a {
			svg {
				fill: $orange;
			}
		}
	}
	&:active {
		a {
			svg {
				fill: #f8f8f8;
			}
		}
	}
}

.footer__address {
	flex-basis: 100%;
	padding-bottom: 20px;
}
.footer__social {
	flex-basis: 100%;
	padding-bottom: 20px;
}
.footer__contacts {
	flex-basis: 100%;
	padding-bottom: 20px;
}


@media ($desktop-widths) {
	.footer__content {
		flex-wrap: nowrap;
	}
	.footer__social {
		flex-basis: 200px;
	}
	.socials__list {
		max-width: 250px;
		min-width: 200px;
	}
}