main {
	@include container-fluid();

}

.category-page {
  padding-top: 30px;
}

.two-column-block {
  display: flex;

  aside {
    display: none;
    @media ($tablet-widths) {
      display: block;
      flex-basis: 220px;
      min-width: 220px;
      margin-right: 20px;
    }
  }
}
