.reviews-section {
  padding: 30px;
  background-color: $white;
  margin-top: 30px;
}

.reviews-section__content {
  max-width: 1289px;
  margin: 0 auto;
}

.reviews-section__review-items {
  // max-height: 200px;
  // overflow: auto;
}
